
*{
    font-family: 'Open Sans', sans-serif;
}
html, body {
    height: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #F1F1F1;
}

/*
    logos of places students have been hired at
*/
#call-to-action {
    background-image: url(../img/student-cover1.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.jumbotron {
    background-color: transparent;
}
h1#mtop15 {
    margin-top: 15%;
}

/*companies who hired codify students*/
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
}
#companies-hired-at img {
    height: 150px
}

/*
    current available students
*/
.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}
.blur_bg {
    height:250px;
    background-repeat:no-repeat; 
    background-size: cover;
}
.header{
    color : #808080;
    margin-left:10%;
    margin-top:15px;
}

/*
    media queries
*/
@media (max-width: 767px) {
    .header{
        text-align : center;
    }
}

